* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#root {
  display: flex;
  justify-content: center;
}

.post {
  display: flex;
  padding: 15px;
  border: 3px solid rgb(65, 248, 156);
  border-radius: 20%;
  align-items: center;
  justify-content: space-between;
  margin-top: 15px;
  background-color: rgb(246, 230, 255);
}

.app {
  width: 900px;
}

.in {
  background-color: aqua;
}

.but_inc {
  background-color: greenyellow;
}

.but_dec {
  background-color: red;
}
